<h1>{{user.first_name}} {{user.last_name}} [{{user.id}}]</h1>
<ul class="list-group">
    <li class="list-group-item w-25"><strong>Email: </strong>{{user.email}}</li>
    <li class="list-group-item w-25"><strong>Phone: </strong>{{user.phone}}</li>
</ul>
<a  type="button" class="btn btn-primary mt-3" href="/">Back</a>